@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";

}

<style>
    .ProductUnit {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 5px;
        color: dimgray;
    }

    .ProductUnit:hover {
        background-color: rgba(47,79,79,0.5);
        border-radius: 10px;
    }

    .allProd {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: white;
    }

    .ProductName {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17pt;
        margin: 10px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Shop</h1>
    <div class="allProd">
        @foreach (var product in Model)
        {

            <div class="ProductUnit" onclick="javascript: document.location = 'Home/Product/@product.Id'">

                <span class="ProductName">@product.Name</span>

                <img src="@product.Photos.First().source" width="300px" height="auto" />

                <span>@product.Type</span>

                <span>@product.Price &#8372;</span>

            </div>
        }
    </div>
</div>
